@import "../../global.scss";

.menu {
    width: 350px;
    height: 100vh;
    background-color: rgb(121, 121, 121);
    position: fixed;
    top: 0;
    right: -500px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;

    @include mobile {
        width: 400px;
    }

    &.active {
        right: 0;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 30px;
        font-weight: bold;
        color: $tertiaryColor;
        width: 60%;

        li {
            margin-bottom: 25px;
           
            a {
                font-size: inherit;
                color: inherit;
                text-decoration: none;
            }

            &:hover {
                color: $mainColor;
            }
        }
    }
}