@import "./global.scss";

.app {
    height: 100vh;

    .sections {
        width: 100%;
        height: calc(100vh - 70px);
        background-color: $secondaryColor;
        position: relative;
        top: 70px;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scrollbar-width: thin; //firefox
        &::-webkit-scrollbar { //others
            width: 0.8em;
            @include mobile {
                display: none;
            }
        } 
        &::-webkit-scrollbar-track { 
            box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3);
        }
        &::-webkit-scrollbar-thumb { 
            background-color: $mainColor;
        }
        

        > *{
            width: 100vw;
            height: calc(100vh - 70px);
            scroll-snap-align: start;
        }
    }
}